<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>
    <div class="nav_bar">
        <ul>
            <% for (let i of menu) { %>
                <% if (i.url == url) { %>
                    <a href="<%= i.url %>"><li class="active"><%= i.name %></li></a>
                <% } else { %>
                    <a href="<%= i.url %>"><li><%= i.name %></li></a>
                <% } %>
            <% } %>
        </ul>
    </div>
    <div class="avatar">
        <img src="/images/avatar.webp" alt="" width="50px">
    </div>
</header>